.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 600;
  color: rgba(161, 41, 121, 0.607);
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: rgba(250, 215, 248, 0.495);
  border-radius: 10px;
  /* color: white; */
}
.buttonSub {
  /* padding: 5px; */
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background: rgba(161, 41, 121, 0.607);
  color: #fff;
  cursor: pointer;

  padding: 10px 20px;
  text-decoration: none;
  /* background-color: rgba(250, 215, 248, 0.495); */
}

.buttonSub:hover,
.buttonSub:focus {
  box-shadow: 1px 1px 2px, 0 0 25px rgba(222, 37, 222, 0.441), 0 0 5px gray;
}
